/*-------ESTILOS GENERALES-------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: none;
}

body {
  background: url(/Multimedia/fondoparaelblanco.png);
}

h1 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  src: local("Gotham"), url("https://fonts.cdnfonts.com/s/14898/GothamMedium.woff") format("woff");
}

h2,
h3,
h4,
h5,
p,
a {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Myriad Pro"), url("https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff") format("woff");
}

.centrar {
  text-align: center;
}

.imagenV {
  width: 100%;
  height: 100%;
}

.imagenG {
  margin-top: 3rem;
  width: 70%;
  height: 80%;
}

.imagenL {
  width: 50%;
  height: 50%;
}

.imagenP {
  width: 50%;
  height: 50%;
}

.titulos {
  font-weight: 700;
  margin: 20px 0 20px 0;
}

.row {
  --bs-gutter-x: 0 !important;
}

.map {
  margin: auto 50px;
}

.form {
  background-color: rgba(255, 127, 80, 0.589);
  margin: 40px;
  padding: 20px;
}

/* Navbar */
.bg-light {
  background-color: rbga(255, 255, 255, 0.1) !important;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap !important;
}

footer {
  width: 100%;
  padding: 2rem 0;
  background-color: #662483;
  color: white;
}

.footer_container {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-1-3 {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.grid-1-3 p,
.grid-1-3 h3 {
  text-align: left;
}

footer img {
  width: 50%;
  margin-left: 0;
}

.footer_text,
footer h3 {
  text-align: center;
}

.footer_dir h3 {
  font-size: 1rem;
}

.footer_section {
  margin-bottom: 1rem;
}

.email {
  margin-left: 0.1rem;
  overflow: hidden;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .footer_container {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .tablet-responsive {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 900px) {
  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .tablet-responsive {
    grid-column: auto;
  }
  .footer_dir {
    margin-top: 1rem;
  }
}

/* Header */
.img_logo {
  width: 90%;
  padding-top: 10px;
}

.img_nombre {
  width: 90%;
  margin: 0 auto;
}

.img_letras {
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
}

.products_container {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
}

.product_card {
  border-radius: 2rem;
  background-color: rgba(166, 163, 168, 0.575);
  margin: 0.5rem auto;
  transition: all 600ms ease;
  width: 90%;
}

.product_card-body {
  background-color: #9366b1;
  border-radius: 0 0 2rem 2rem;
  padding: 1.2rem;
  color: white;
  width: 100%;
  transition: all 600ms ease;
}

.product_card-body p {
  font-size: 0.7rem;
}

.product_card:hover {
  background-color: #9366b1;
  border: 1px solid #9366b1;
}

.product_card:hover .product_card-body {
  background-color: rgba(166, 163, 168, 0.575);
  color: #35023f;
}

@media screen and (min-width: 768px) {
  .products_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .products_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */