footer{
  width: 100%;
  padding: 2rem 0;
  background-color: #662483;
  color: white;
}
.footer_container{
  display: grid;
  grid-template-columns: 1fr;
}
.grid-1-3{
  display: grid;
  grid-template-columns: 1fr 4fr;

}
.grid-1-3 p,
.grid-1-3 h3{
  text-align: left;
}
footer img{
  width: 50%;
  margin-left: 0;
}
.footer_text,
footer h3{
  text-align: center;
}
.footer_dir h3{
  font-size: 1rem;
}
.footer_section{
  margin-bottom: 1rem;
}
.email{
  margin-left: 0.1rem;
  overflow:hidden;
  font-size: 1.2rem;

}
@media screen and (min-width: 768px) {
  .footer_container{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .tablet-responsive{
    grid-column: 1/3;

  }
}
@media screen and (min-width: 900px) {
  .footer_container{
    grid-template-columns: repeat(3,1fr)
  }
  .tablet-responsive{
    grid-column: auto;
  }
  .footer_dir{
    margin-top: 1rem;
  }
}