/*-------ESTILOS GENERALES-------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: none;
  }
  body {
    background: url(/Multimedia/fondoparaelblanco.png);
  }
  @mixin centrar{
    text-align: center;
  }
  h1 {
    @include centrar;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    src: local("Gotham"), url("https://fonts.cdnfonts.com/s/14898/GothamMedium.woff") format("woff");
  }
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    src: local("Myriad Pro"), url("https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff") format("woff");
  }
  .imagenV{
    width: 100%;
    height: 100%;
  }
  .imagenG{
    margin-top: 3rem;
    width: 70%;
    height: 80%;
  }
  .imagenL{
    width: 50%;
    height: 50%;
  }
  .imagenP{
    width: 50%;
    height: 50%;
  }
  .titulos{
    font-weight: 700;
    margin: 20px 0 20px 0;
  }
  .row{
    --bs-gutter-x: 0 !important;
  }
  .map{
    margin: auto 50px;
    
  }
  .form{
    background-color: rgba(255, 127, 80, 0.589);
    margin: 40px;
    padding: 20px;
  }