/* Header */
.img_logo {
    width: 90%;
    padding-top: 10px;
  }
  .img_nombre {
    width: 90%;
    margin: 0 auto;
  }
  .img_letras {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
  }