/* Header */
.img{
  &__logo{
    width:90%;
    padding-top: 10px;
  }
  &__nombre{
    width: 90%;
    margin: 0 auto;
  }
  &__letras{
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
  }
}